{% extends "::base.html.twig" %}



{% block title %}{{ 'Contact form'|trans }}{% endblock %}



{% block body %}
	{% include "XDCmsBundle:ContactForm:form_block.html.twig" %}

	{{ block('contact_form') }}
    
{% endblock %}

