{% extends base_template %}


{%  block content %}

<h3>Odwiedziny dzisiaj</h3>
<iframe marginwidth="0"  marginheight="0" width="600" height="350" src="http://www.embeddedanalytics.com/reports/displayreport?reportcode=6JoZqviFZi&chckcode=gaE8hKcruRwrKBcIQoOV94" type="text/html" frameborder="0" scrolling="no" title="EmbeddedAnalytics - Embed Realtime Google Analytics Charts into your Website!"></iframe>

<h3>Odwiedziny ostatnie 30 dni</h3>

<iframe marginwidth="0"  marginheight="0" width="600" height="350" src="https://www.embeddedanalytics.com/reports/displayreport?reportcode=yniorHlibs&chckcode=gaE8hKcruRwrKBcIQoOV94" type="text/html" frameborder="0" scrolling="no" title="EmbeddedAnalytics - Embed Realtime Google Analytics Charts into your Website!"></iframe>
<iframe marginwidth="0"  marginheight="0" width="600" height="350" src="https://www.embeddedanalytics.com/reports/displayreport?reportcode=pSmVlJAfUc&chckcode=gaE8hKcruRwrKBcIQoOV94" type="text/html" frameborder="0" scrolling="no" title="EmbeddedAnalytics - Embed Realtime Google Analytics Charts into your Website!"></iframe>


<h3>Odsłony stron ostatnie 30 dni</h3>

<iframe marginwidth="0"  marginheight="0" width="600" height="350" src="https://www.embeddedanalytics.com/reports/displayreport?reportcode=xyCkdcbkMj&chckcode=gaE8hKcruRwrKBcIQoOV94" type="text/html" frameborder="0" scrolling="no" title="EmbeddedAnalytics - Embed Realtime Google Analytics Charts into your Website!"></iframe>
<iframe marginwidth="0"  marginheight="0" width="600" height="350" src="http://www.embeddedanalytics.com/reports/displayreport?reportcode=g3fwsVEtbz&chckcode=gaE8hKcruRwrKBcIQoOV94" type="text/html" frameborder="0" scrolling="no" title="EmbeddedAnalytics - Embed Realtime Google Analytics Charts into your Website!"></iframe>


{%  endblock %}