{% if page %}
	
	{% if page.hasContactForm() %}
	<table>
	<tr>
		<td>{{ page.content|raw }}</td>
		<td>{% render "XDCmsBundle:ContactForm:show" with {included: true}, {'standalone': true} %}</td>
	</tr>
	</table>

	{% else %}
		{{ page.content|raw }}
	{% endif %}
{% else %}
	not found
{% endif %}