{% extends '::base.html.twig' %}

{# {% block title %}Welcome on main page!{% endblock %}#}

{% if current_page %}

	{% block title %}{{ current_page.title }}{% endblock %}
	{% block keywords %}{{ current_page.keywords }}{% endblock %}
	{% block description %}{{ current_page.description }}{% endblock %}

{% endif %}

{% block javascripts %}
	{{ parent() }}
	
	<script type="text/javascript" src="{{ asset('bundles/lmacmetal/js/main_page.js') }}"></script>
	<script type="text/javascript">
		var _block_all_images = '{{ block('all_images') }}';
		var _all_images = JSON.parse('{{ all_images_json|raw }}');
	</script>
	
{% endblock %}

{% block all_images %}
{% spaceless %}
	{% set i = 0 %}
	{% for idx,image in all_images %}
	<div class="main_page_top_img {% if i==0 %}main_page_top_visible{% endif %}" id="top-img-{{ idx }}">
		<img src="{{ asset(image) }}" alt="" />
	</div>
	{% set i = i+1 %}
	{% endfor %}
{% endspaceless %}
{% endblock %}

{% block javascripts_bottom %}
	{{ parent() }}
	
	
{% endblock %}

{% block body %}



	{% if pages %}
	
		<div id="main_page_top">
			{% if slug == '' %}
				{{ block('all_images') }}
			{% elseif current_image %}
				<div class="main_page_top_img main_page_top_visible">
					<img src="{{ asset(current_image) }}" alt="" />
				</div>
			{% endif %}
		</div>
	
		
		<div id="main_page">
		
		{% for page in pages %}
		
			<div class="main_page_page">
			
			{% if page.slug == slug or (slug == '' and loop.index == 1) %}
			
				<div class="main_page_title main_page_title_current {% if loop.index == 1 %}main_page_title_first{% endif %}">
					{% if loop.index == 1 %}
						<h2><a href="{{ path('acmetal_main_page') }}" id="{{ page.uniqid }}">{{ page.title }}</a></h2>
					{% else %}
						<h2><a href="{{ path('acmetal_page_show', {'slug': page.slug }) }}" id="{{ page.uniqid }}">{{ page.title }}</a></h2>
					{% endif %}
				</div>
				<div class="main_page_content main_page_ajx_loaded main_page_ajx_visible">
					<div class="main_page_content_inner">
						{% if page.hasContactForm() %}
						<table>
							<tr>
								<td>{{ page.content|raw }}</td>
								<td>{% render "XDCmsBundle:ContactForm:show" with {included: true}, {'standalone': true} %}</td>
							</tr>
						</table>
					
						{% else %}
							{{ page.content|raw }}
						{% endif %}
					</div>
				</div>
				
			{% else %}
			
				<div class="main_page_title {% if loop.index == 1 %}main_page_title_first{% endif %}">
					{% if loop.index == 1 %}
						<h2><a href="{{ path('acmetal_main_page') }}" id="{{ page.uniqid }}" ref="">{{ page.title }}</a></h2>
					{% else %}
						<h2><a href="{{ path('acmetal_page_show', {'slug': page.slug }) }}" id="{{ page.uniqid }}" >{{ page.title }}</a></h2>
					{% endif %}
				</div>
				<div class="main_page_content main_page_ajx_hidden"><div class="main_page_content_inner"></div></div>
				
			{% endif %}
			
			</div>
			
		{% endfor %}
		</div>
		
	{% else %}
	
		brak strony głównej
	
	{% endif %}

{% endblock %}