{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
	{% if object.type == 'url' %}
		{{ object.url }}
	{% elseif object.type == 'page' %}
		{{ path('page_show', {slug: object.page.slug} ) }}
	{% endif %}
   	
{% endblock %}

