{%  extends "XDCmsBundle:Sonata:list.html.twig" %}

{%  block javascripts %}
	{{ parent() }}

	<script type="text/javascript">

	jQuery(function(){

		
		$( "#menuitems_sortable" ).sortable({
			// placeholder: "ui-state-highlight"
			 stop: function(event, ui) {
				 $("#menuitems_saveorder_button").removeClass('disabled').removeAttr('disabled')
				  }
		});
		$( "#menuitems_sortable" ).disableSelection();

		$("#menuitems_saveorder_button").click(function(){
			// ajax zapisujący kolejność ?
			
			elements = new Array();

		    $('.sonata-ba-list-field-text').each(function(){
			    __id = $(this).attr('objectid');
			  
			    if($.inArray(__id, elements) == -1) {
				    elements.push(__id)
				}
			})

			$.ajax({
				type: 'POST',
				url: '{{ admin.generateUrl('saveorder') }}',
				data: {	elements: elements },
				complete: 
					function(response) {
						console.log(response);
					}
			});
			$(this).addClass('disabled').attr('disabled', 'disabled')
			
		})

	});

	</script>
	
{%  endblock %}

{% block table_body %}
                    <tbody id="menuitems_sortable">
                        {% for object in admin.datagrid.results %}
                            <tr>
                                {% for field_description in admin.list.elements %}
                                    {{ object|render_list_element(field_description) }}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
{% endblock %}

{% block footer %}
<p><span class="label notice ">{{ 'Drag menu items to set order' |trans({}, 'XDCmsBundle') }}</span></p> 
<input type="button" id="menuitems_saveorder_button" class="btn disabled" value="{{ 'Save order'|trans({}, 'XDCmsBundle') }}" disabled  />

{% endblock %}


