{%  extends "XDCmsBundle:Sonata:edit.html.twig" %}

{%  block javascripts %}
	{{ parent() }}

	<script type="text/javascript">


		jQuery(function(){


			$('#{{ admin.uniqid }}_type')
				.change(function(){

					// hide all choices
					$('#sonata-ba-field-container-{{ admin.uniqid }}_page').hide();
					$('#sonata-ba-field-container-{{ admin.uniqid }}_url').hide();

					// show only selected
					val = $(this).val();
					$('#sonata-ba-field-container-{{ admin.uniqid }}_'+val).show();

				})
				.change()
			
		});

	</script>
	
{%  endblock %}