{%  extends "XDCmsBundle:Sonata:edit.html.twig" %}

{%  block javascripts %}
	{{ parent() }}

	<script src="{{ asset('bundles/xdcms/js/tiny_mce/tiny_mce.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/xdcms/js/wysiwyg.js') }}" type="text/javascript"></script>
	
{%  endblock %}