<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>{% block title %}XD CMS - witaj{% endblock %}</title>

        
        <meta name="Description" content="{% block description %}{% endblock %}" />
        <meta name="Keywords" content="{% block keywords %}{% endblock %}" />
        
        {% block stylesheets %}{% endblock %}

    </head>
    
    <body>
        
        {% block main_menu %}{% render "XDCmsBundle:Menu:main" with {}, {'standalone': true } %}{% endblock %}
        
        {% block body %}{% endblock %}
            
        {% block javascripts %}{% endblock %}     
        
    </body>
</html>
