<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>{% block title %}Ac-metal.pl{% endblock %}</title>

        <meta name="Description" content="{% block description %}{% endblock %}" />
        <meta name="Keywords" content="{% block keywords %}{% endblock %}" />

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/sonatajquery/themes/flick/jquery-ui-1.8.16.custom.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/lmacmetal/css/style.css') }}" type="text/css" media="all" />
        
        {% endblock %}

        {% block javascripts %}
        <script src="{{ asset('bundles/sonatajquery/jquery-1.7.1.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/sonatajquery/jquery-ui-1.8.17.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/sonatajquery/jquery-ui-i18n.js') }}" type="text/javascript"></script>
        {% endblock %}
        

    </head>
    
    <body>
        
        <div id="content">
			<div id="top">
			
				
				<div id="logo">
					<a href="{{ path('acmetal_main_page') }}" >
						<img src="{{ asset('bundles/lmacmetal/images/logo.png') }}" alt="" />
					</a>
				</div>
				
				<div id="top-kontakt">
					<a href="{{ path('acmetal_page_show', {'slug':'kontakt'}) }}" >
						<img src="{{ asset('bundles/lmacmetal/images/kontakt-top.png') }}" alt="" />
					</a>
				</div>
				
			</div>
        	{% block body %}{% endblock %}

        	{% block main_menu %}
	        <div id="menu-bottom" class="line1-up">
	        
	        	<div id="copyright">
	        	© Copyrights 2012, Wszelkie prawa zastrzeżone przez AC-Metal
	        	</div>
	        
	        	<div id="menu-ul">
	        	
         		{% render "XDCmsBundle:Menu:managed" with {} %}
	        	
	        	</div>
			</div>
			{% endblock %}
        
        </div>
            
        {% block javascripts_bottom %}
        
        {% if 'localhost' not in app.request.uri %}
	        <script type="text/javascript">
			
			 var _gaq = _gaq || [];
			 _gaq.push(['_setAccount', 'UA-28860462-1']);
			 _gaq.push(['_trackPageview']);
			
			 (function() {
			   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			 })();
			
			</script>
		{% endif %}
        
        {% endblock %}
        
    </body>
</html>
