html,body, div, p {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

a,a:VISITED,a:ACTIVE,a:HOVER {
	text-decoration: none;
	color: #fff;
}

body {
	background: black url(../images/background.jpg) no-repeat 50% 0;
	font-family: Tahoma;
	color: #fff;
}

#content {
	width: 1008px;
	margin: 0 auto;
}

#content #top {
	height: 170px;
	position: relative;
}

#content #top #logo {
	height: 170px;
}

#content #top #top-kontakt {
	
	height: 123px;
	width: 283px;
	position: absolute;
	right: 0;
	top: 15px;
}

#copyright {
	float: left;
}

.red1 {
	color: #be2a2a;
}

.line1-up {
	background: transparent url(../images/line1-bg.png) repeat-x 0 0;
}

#menu-bottom {
	
	height: 50px;
	padding-top: 10px;
	margin-top: 10px;
}

#menu-ul {
	float: right;
}

#menu-ul ul,
#menu-ul ul li {
	list-style-type: none;
	padding:0;
	margin: 0;
	display: inline;
	
	
}

#menu-ul ul li {
	
	padding: 0 15px;
	background: transparent url(../images/li1.jpg) no-repeat 100% 50%;
}

#menu-ul ul li.last {
	background: none;
}

#menu-ul ul li.current a {
	color: #be2a2a;
	font-weight: bold;
}


#main_page {
	padding-bottom: 35px;
}

#main_page .main_page_title {
	
	background: transparent url(../images/line1-bg.png) repeat-x 0% 100%;
	height: 40px;
	display: block;
	padding: 0 40px;;
	margin: 0;
	
	
}

#main_page .main_page_title h2 {
	margin: 0;
	padding: 0 30px;
	background: transparent url(../images/arr2.png) no-repeat 0 50%;
	line-height: 40px;
	font-size: 20px;
	
}

#main_page .main_page_title_current h2 {
	background: transparent url(../images/arr1.png) no-repeat 0 50%
}

#main_page .main_page_title_current{
	background: transparent url(../images/main-page-title-bg.png) repeat-x 0 0;
}

#main_page .main_page_content {
	background: transparent url(../images/main-page-content-bg.png) repeat;

}

#main_page .main_page_content .main_page_content_inner {
	padding: 30px 40px;
}

#main_page .main_page_ajx_loaded {
	
}

#main_page .main_page_ajx_visible {
/* 	padding-top: 30px; */
/* 	padding-bottom: 30px; */
	
	
/* 	-moz-transition: padding-top 1s, padding-bottom 1s; */
/* 	-webkit-transition: padding-top 1s, padding-bottom 1s; */
/* 	-o-transition: padding-top 1s, padding-bottom 1s; */
/* 	transition: padding-top 1s, padding-bottom 1s; */
}

#main_page .main_page_ajx_hidden {
	
	display: none;
	
/* 	padding-top: 0px; */
/* 	padding-bottom: 0px; */
/* 	overflow: hidden; */
/* 	height: 0; */
	
/* 	-moz-transition: padding-top 1s, padding-bottom 1s; */
/* 	-webkit-transition: padding-top 1s, padding-bottom 1s; */
/* 	-o-transition: padding-top 1s, padding-bottom 1s; */
/* 	transition: padding-top 1s, padding-bottom 1s; */
}

#main_page_top {
	position: relative;
	width: 1008px;
	height: 150px;
}

#main_page_top .main_page_top_img {
	position: absolute;
	top: 0;
	left: 0;
	width: 1008px;
	height: 150px;
	overflow: hidden;
	opacity: 0;
	
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
	

}

#main_page_top .main_page_top_visible {
	
	
	opacity: 1;
	
	-moz-transition: opacity 0.8s;
	-webkit-transition: opacity 0.8s;
	-o-transition: opacity 0.8s;
	transition: opacity 0.8s;
	
}

#main_page_top .main_page_top_img img {
	
}


#contact-form label {
	font-size: 11px;
}

#contact-form textarea {
	
	width: 330px;
	height: 70px;
	line-height:  20px;
	font-family: Tahoma;
	border: 1px solid #3c3c3d;
	background: #000;
	color: #fff;
	font-size: 11px;
}

#contact-form input {
	border: 1px solid #3c3c3d;
	background: #0a0a0a;
	color: #fff;
	width: 220px;
	line-height:  20px;
	font-size: 11px;
	padding-left: 4px;
	padding-right: 4px;

}

#contact-form ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 11px;
	color: red
}


#contact-form ul li {

	color: #e02424;
}

#contact-form td.captcha {
	
}

#contact-form td.captcha img {
	vertical-align: middle;
	margin-right: 2px;
}

#contact-form td.captcha input {
	width: 100px
}

#contact-form h3 {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

#contact-form .subtitle {
	font-size: 10px;
}

#contact-form input.submit,
.button1
 {
	background: #bf2122; /* Old browsers */
	background: -moz-linear-gradient(top, #bf2122 0%, #aa0d0d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bf2122), color-stop(100%,#aa0d0d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bf2122 0%,#aa0d0d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #bf2122 0%,#aa0d0d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #bf2122 0%,#aa0d0d 100%); /* IE10+ */
	background: linear-gradient(top, #bf2122 0%,#aa0d0d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf2122', endColorstr='#aa0d0d',GradientType=0 ); /* IE6-9 */
	
	width: auto;
	border: none;
	
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}

.included_contact_form {
	width: 420px;
	padding: 10px;
}

