{% extends "::base.html.twig" %}

{% block title %}{{ page.title }}{% endblock %}

{% block keywords %}{{ page.keywords }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block body %}

	{% if page.getWebPath %}
	<img src="{{ asset(page.getWebPath) }}" alt="" />
	{% endif %}

    {{ page.content|raw }}

    <span>{{ "tags" | trans }} </span>
    
    {% for tag in page.tags %}
        {{ tag.tag }},
    {% endfor %}
    
{% endblock %}