body {
    padding-top: 60px;
}

.topbar a.brand {
    margin: 0px;
    padding: 0px;
    line-height: 40px;
    padding-right: 20px;
}

a.brand img {
    margin:0px;
    padding: 0px;
    padding-right: 5px;
    height: 28px;
    vertical-align: middle;
}


div.border  {
    border: 1px solid #DDDDDD;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}


div.connection form {
    padding-top: 15px;
    margin-bottom: 0px;
    padding-right: 20px;
}

div.connection form .actions {
    margin-bottom: 0px;
}


div.connection .form-stacked .actions {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
}

div.connection div input.big {
    height: 35px;
    font-size: 25px;
}

body.sonata-ba-no-side-menu div.container-fluid > div.content {
    margin-left: 0px;
}

table.sonata-ba-list {
    width: 500px;
}

div.sonata-ba-field-inline-table input.title {
    width: 100px;
}

div.sonata-ba-field-inline-table textarea.title {
    width: 150px;
    height: 50px;
}

fieldset.filter_legend {
    font-weight: bold;
    border: 1px solid #E4E4E4;
    margin: 0;
    border-width: 1px 0 0;
    padding: 0;
}

fieldset.filter_legend table {
    margin: 0;
}

legend.filter_legend {
    background: url(../famfamfam/bullet_arrow_down.png) no-repeat center left;
    padding-left: 16px;
    cursor: pointer;
}

table.sonata-ba-list td {
    width: 75px;
}

table.sonata-ba-list td img{
    vertical-align: bottom
}

td.pager ul {
    float: left;
    list-style: none;
    margin: 2px;
    margin-left: auto;
    margin-right: auto;
}

td.pager ul li {
    float: left;
}

td.pager ul li a {
    border: 1px solid #cccccc;
    padding: 4px;
    margin: 2px;
}

div.sonata-ba-modal-edit-one-to-one td.sonata-ba-list-field-batch,
div.sonata-ba-modal-edit-one-to-one div.sonata-ba-list-actions,
div.sonata-ba-modal-edit-one-to-one th.sonata-ba-list-field-header-batch
{
    display: none;
}

div.sonata-ba-modal-edit-one-to-one div.sonata-ba-list-actions {
    display: none;
}

th.sonata-ba-list-field-header-order-desc:hover {
    background: url(../famfamfam/bullet_arrow_up.png) no-repeat center left;
}

th.sonata-ba-list-field-header-order-asc:hover {
    background: url(../famfamfam/bullet_arrow_down.png) no-repeat center left;
}

th.sonata-ba-list-field-header-order-desc,
th.sonata-ba-list-field-header-order-asc {
    padding-left: 15px;
}

th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active {
    background: url(../famfamfam/bullet_arrow_up.png) no-repeat center left;
}

th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active {
    background: url(../famfamfam/bullet_arrow_down.png) no-repeat center left;
}

th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active:hover {
    background: url(../famfamfam/bullet_arrow_down.png) no-repeat center left;
}

th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active:hover {
    background: url(../famfamfam/bullet_arrow_up.png) no-repeat center left;
}

em.sonata-ba-field-help {
    display: block;
    color: #999;
    margin-bottom: 10px;
}

fieldset legend {
    padding-left: 0px;
}

select.sonata-medium, textarea.sonata-medium, input.sonata-medium {
    width: 400px;
}

textarea.sonata-medium {
    height: 125px;
}

div.sonata-medium-date select {
    width: 75px;
}

div.sonata-medium-date div {
    float: left;
}

.sonata-ba-field-inline-table select.sonata-medium,
.sonata-ba-field-inline-table textarea.sonata-medium,
.sonata-ba-field-inline-table input.sonata-medium {
    width: 150px;
}

.sonata-ba-view-title {
  font-size:19.5px;
  line-height:1;
  color:#404040;
  *padding:0 0 5px 0;
  *line-height:1.5;
}

.sonata-ba-view-title td, .sonata-ba-view-title th {
  border:0;
}

.sonata-ba-view-container th {
  width:130px;
}

.sonata-ba-view-container td, .sonata-ba-view-container th {
  border-bottom:0;
  border-top: 1px solid #eee;
}

.sonata-ba-view-container:nth-child(2n) td, .sonata-ba-view-container:nth-child(2n) th {
  background-color:#f9f9f9;
}

.sonata-ba-view-container:nth-child(2n):hover td, .sonata-ba-view-container:nth-child(2n):hover th {
  background-color:#f5f5f5;
}

