div#userbundle-loginform {
	background: transparent url(../images/admin/login-bg.jpg) no-repeat 313px 0;
	padding-top: 95px;
	margin-top: 20px;
}

.sonata-bc a.brand img {
	height: auto
}

.sonata-bc fieldset.filter_legend {
	font-weight: bold;
	border: none;
	margin: 0;
	border-width: 1px 0 0;
	padding: 0;
	border-image: initial;
}